/* 
栅格系统只是给元素设置宽度

1 8.33%
3 25%
6 50%
9 75%



适配尺寸：1套代码多个布局
@media screen and (屏幕尺寸){}
3,必须跟 row中使用
4.子元素在水平方向的偏移量  position-relative
    offset
    pull
    push

 */

 /* 超小屏幕 */
@media screen and (max-width:768px){
    .col-xs-1{width: 8.33%;}

    .col-xs-offset-1{
        left: 8.33%;
    }
}
.col-xs-1，.col-xs-2，.col-xs-3{
    float: left;
    min-height: 1px;
    position: relative;
    
}
.col-sm-pull-0{
    right: 0;
}
.col-sm-pull-1{
    right:   8.33333333%;
}
.col-sm-pull-2{
    right:  16.6666667%;
}
.col-sm-pull-3{
    right:  25%;

}
.col-sm-pull-4{
    right:  33.3333333%;

}
.col-sm-pull-5{
    right:  41.6666667%;

}
.col-sm-pull-6{
    right:  50%;

}
.col-sm-pull-7{
    right:   58.3333333%;

}
.col-sm-pull-8{
    right:  66.6666667%;

}
.col-sm-pull-9{
    right:  75%;

}
.col-sm-pull-10{
    right:  83.3333333%;

}
.col-sm-pull-11{
    right:  91.6666667%;

}
.col-sm-pull-12{
    right:  100%;
}

.col-sm-push-0{
    left: 0;
}
.col-sm-push-1{
    left:   8.33333333%;
}
.col-sm-push-2{
    left:  16.6666667%;
}
.col-sm-push-3{
    left:  25%;

}
.col-sm-push-4{
    left:  33.3333333%;

}
.col-sm-push-5{
    left:  41.6666667%;

}
.col-sm-push-6{
    left:  50%;

}
.col-sm-push-7{
    left:   58.3333333%;
}
.col-sm-push-8{
    left:  66.6666667%;

}
.col-sm-push-9{
    left:  75%;

}
.col-sm-push-10{
    left:  83.3333333%;

}
.col-sm-push-11{
    left:  91.6666667%;

}
.col-sm-push-12{
    left:  100%;
}

 /* 小屏幕 */
 @media screen and (min-width:768px) and (max-width：992px){

 }

 /* 中型屏幕 pc */
 @media screen and (min-width:992px) and (max-width：1200px){

 }

 /* 大屏幕 pc */
 @media screen and (min-width:1200px){

}